@import "../../scss/mixins";

:host {
  --border-width: 0;
  --border-color: rgba(0, 0, 0, 0.125);
  --padding: 0;

  @include standard-var-declarations(header, $border-color: var(--border-color));
  --header-font-weight: 700;

  display: block;
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--border-color);
  padding: var(--padding);
}

.header {
  @include standard-var-styles(header);
  font-weight: var(--header-font-weight);
  margin-bottom: 8px;
}

.sections {
  display: flex;
}

.section {
  flex: 1 1 auto;
}

img {
  display: inline-block;
  max-height: 20px;
  max-width: 60px;
  object-fit: scale-down;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.item-label {
  display: inline-block;
  margin-left: 8px;
}