<!doctype html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport'
        content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Loading Spinner</title>
  <script nomodule src='/build/wc-gocam-viz.js'></script>
  <script type='module' src='/build/wc-gocam-viz.esm.js'></script>
</head>
<body>
  <div style='height: 300px; width: 300px; background: darkgrey'>
    <go-loading-spinner message='Loading...' />
  </div>
</body>
</html>
