:host {
    display: block;
  }
  

.gocam-viz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1200px;
    height: 800px;
    border: 2px solid rgba(214,214,214,0.94);
    border-radius: 15px;
}

.gocam-viz-loader {
    width: 1200px;
    height:800px;
    margin: auto;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity--hover {
    background-color: red;
}

.causal-edge--hover {
    background-color: red;
}

.activity {
    background-color: red;
    background: yellow;
    border: 5px solid green;
}
