@import "../../scss/variables";
@import "../../scss/panel";
@import "../../scss/mixins";

:host {
  --button-backgroud-color: none;
  --button-hover-background-color: none;
  --button-text-color: inherit;
  --button-border-radius: 0.2rem;
  --button-border-width: 0;
  --button-border-color: none;

  --panel-border-width: 0;
  --panel-border-color: rgba(0, 0, 0, 0.125);

  @include standard-var-declarations(panel-header, $default-border-color: var(--panel-border-color));

  --graph-height: 800px;
  --graph-padding: 0;

  --legend-border-width: 0;
  --legend-border-color: var(--panel-border-color);
  --legend-padding: 0;
  @include standard-var-declarations(legend-header, $default-border-color: var(--panel-border-color));

  --activities-panel-link-color: black;

  @include standard-var-declarations(process, $default-border-color: var(--panel-border-color));

  @include standard-var-declarations(process-label, $default-border-color: var(--panel-border-color));

  @include standard-var-declarations(activity, $default-border-color: var(--panel-border-color));
  --activity-active-background: #f0f0f0;
  --activity-active-color: black;

  @include standard-var-declarations(gene-product, $default-border-color: var(--panel-border-color));

  @include standard-var-declarations(function-label, $default-border-color: var(--panel-border-color));

  @include standard-var-declarations(node, $default-border-color: var(--panel-border-color), $default-border-width: 0 0 1px 0);

  --function-nodes-padding: 0;

  display: flex;
  align-items: flex-start;
}

.panel {
  border-color: var(--panel-border-color);
  border-style: solid;
  border-width: var(--panel-border-width);
}

.panel-header {
  background: var(--panel-header-background);
  border-color: var(--panel-header-border-color);
  border-style: solid;
  border-width: var(--panel-header-border-width);
  color: var(--panel-header-color);
  padding: var(--panel-header-padding);
  min-height: 48px;
}

.gocam-panel-header-buttons {
  white-space: nowrap;
}

button {
  color: var(--button-text-color);
  background-color: var(--button-backgroud-color);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: var(--button-border-radius);
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  border-width: var(--button-border-width);
  border-style: solid;
  border-color: var(--button-border-color);
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  &:focus, &:hover {
    background-color: var(--button-hover-background-color)
  }

  &:first-child {
    margin-right: 8px;
  }
}

.gocam-graph {
  padding: var(--graph-padding);
  height: var(--graph-height);
  box-sizing: border-box;
}

wc-gocam-legend {
  --border-width: var(--legend-border-width);
  --border-color: var(--legend-border-color);
  --padding: var(--legend-padding);
  --header-background: var(--legend-header-background);
  --header-border-color: var(--legend-header-border-color);
  --header-border-width: var(--legend-header-border-width);
  --header-color: var(--legend-header-color);
  --header-padding: var(--legend-header-padding);
}

wc-genes-panel {
  --height: var(--graph-height);
  --link-color: var(--activities-panel-link-color);
}