@import "../../scss/variables";
@import "../../scss/panel";

:host {
  --button-backgroud-color: none;
  --button-hover-background-color: none;
  --button-text-color: inherit;
  --button-border-radius: 0.2rem;
  --button-border-width: 0;
  --button-border-color: none;

  --panel-border-width: 0;
  --panel-border-color: rgba(0, 0, 0, 0.125);
  --panel-header-background: none;
  --panel-header-border-width: 0;
  --panel-header-border-color: var(--panel-border-color);

  --graph-height: 800px;
  --graph-padding: 0;

  display: flex;
  align-items: flex-start;
}

.panel {
  border-color: var(--panel-border-color);
  border-style: solid;
  border-width: var(--panel-border-width);
}

.panel-header {
  background: var(--panel-header-background);
  border-color: var(--panel-header-border-color);
  border-style: solid;
  border-width: var(--panel-header-border-width);
  min-height: 48px;
}

.gocam-panel-header-buttons {
  white-space: nowrap;
}

button {
  color: var(--button-text-color);
  background-color: var(--button-backgroud-color);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: var(--button-border-radius);
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  border-width: var(--button-border-width);
  border-style: solid;
  border-color: var(--button-border-color);
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  &:focus, &:hover {
    background-color: var(--button-hover-background-color)
  }

  &:first-child {
    margin-right: 8px;
  }
}

.gocam-graph {
  padding: var(--graph-padding);
  height: var(--graph-height);
  box-sizing: border-box;
}

.gocam-legend-container {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 4px 16px;

  .gocam-legend-header {
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  .left {
    img {
      height: 4px;
    }
  }
  img {
    height: 20px;
  }
  .gocam-legend-value {
    display: inline-block;
    height: 35px;
    padding-left: 8px;
  }
}

.gocam-legend-section-container {
  display: flex;
}

.gocam-legend-section {
  flex: 1 1 auto;

  img {
    display: inline-block;
  }
}
