@import './../../scss/core';
$gocam-width: 800px;

.card-header {
  &.gocam-h-md {
    @include deep-height(48px);
  }
}
.gocam-viz {
  width: 100%;
  padding: 16px;
  height: $gocam-height;
  width: 100%;
  border: 1px solid #d1c4e9;
}

#gocam-viz-panel {
  width: 100%;
  height: 100%;
  //border: 1px solid #bdc9eb;
}

.gocam-viz-loader {
  width: $gocam-width;
  height: $gocam-height;
  background-color: rgba($color: #000000, $alpha: 0.1);
  margin: auto;
  font-size: 24px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.pop-line {
  line-height: 1.1rem;
  text-decoration: none;
}

.open__in_noctua__label {
  margin-left: 3rem;
  background-color: rgb(74, 74, 211);
  color: white;
}

.button-gcv {
  background-color: rgb(74, 74, 211);
  color: white;
  padding: 0.2rem 0.6rem;
}

.control__panel {
  position: relative;
  width: $gocam-width;
  padding: 1rem;
  margin-bottom: 1rem;
}

.img-gcv {
  height: 150px;
}

//loader

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(146, 123, 197);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #703770 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
