:host {
    display: block;
  }
  

.gocam-viz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1200px;
    height: 800px;
    border: 2px solid #6FB1FC;
}

.gocam-viz-loader {
    width: 1200px;
    height:800px;
    margin: auto;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
