
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

:root {
    --gocam-panel-width: 450px;
}

* {
    font-family: "Lato", sans-serif;    
}

a {
    text-decoration: none;
}

a:hover {
    color: blue;
}

.not-clickable {
    cursor: default;
}

.bold {
    font-weight: 800;    
}

h1 {
    color: #002379;
    text-align:right; 
    font-size: 1.5rem;
    margin: 0rem 0.5rem 0rem 0rem;
}

.genes-panel__container {
    width: var(--gocam-panel-width);
    height: var(--gocam-height);
    line-height: 1.5;
    /* overflow: scroll; */
    display: inline-block;
    vertical-align: top;  
    
    padding: 1rem 0rem 1rem 0.5rem;
    margin-left: 1rem;
    
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 20px 0px rgb(194 194 194);
    -moz-box-shadow: 0px 0px 20px 0px rgba(194,194,194,1);
    box-shadow: 0px 0px 20px 0px rgb(194 194 194);
}

.genes-panel__container__title {
    padding: 0rem 1rem;
}

.genes-panel__item {
    display: block;
    margin: 1rem;
    padding: 1rem 2rem;
    background: #ffffff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 20px 0px rgb(194 194 194);
    -moz-box-shadow: 0px 0px 20px 0px rgba(194,194,194,1);
    box-shadow: 0px 0px 20px 0px rgb(194 194 194);
    cursor: pointer;
}

.genes-panel__item:hover {
    box-shadow: 4px 6px 42px 2px rgb(194 194 194);
    
}

.genes-panel__item__title {
    width: 100%;
    font-weight: 800;
    font-size: 18px;
    color: #002379;
    padding-bottom: 0.5rem;
}

.genes-panel__item__gene__block {

}

.genes-panel__list {
    overflow: scroll;    
    height: 740px;
}

.genes-panel__item__activity__block {
}

.genes-panel__item__activity {
    text-overflow: ellipsis;
    max-width: 280px;
    vertical-align: top;
    display: inline-block;
    color: #002379;
}

.block-left {
    margin-left: 2.5rem;
    margin-right: 0.5rem;
    width: 5rem;
    display: inline-block;
}

.block-right {
    margin-left: 0.5rem;
    margin-right: 0.5rem;    
    color: black;
}

.flex-container {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;    
}

.reference-list {
    margin-left: 0.5rem;
}

.reference-article {
    color: #1a9e1a;;
    margin-left: 0.3rem;    
}

.reference {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    margin-left: 0.2rem;
    -webkit-box-shadow: 4px 6px 42px 0px rgb(194 194 194);
    -moz-box-shadow: 4px 6px 42px 0px rgba(194,194,194,1);
    box-shadow: 4px 6px 42px 0px rgb(194 194 194);
    border: 1px solid green;
    display: inline-block;
    width: 15px;
    border-radius: 5px;
    background-color: greenyellow;
    text-align: center;
    display: inline-block;
    height: 16px;
    font-size: 10px;
    vertical-align: middle;
}


.gp_item_selected {
    box-shadow: 4px 6px 42px 2px rgb(124 124 124);    
}


.genes-panel__item__title__gp {
    color: #002379;
    width: 50%;
    display: inline-block;    
}

.genes-panel__item__title__gp__taxon {
    color: black;
    font-weight: 400;
    text-align: right;
    width: 50%;
    display: inline-block;
    font-size: 16px;
}

.activity__references {
    display: inline-block;
}