
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

:root {
    --gocam-panel-width: 450px;
    --gocam-panel-box-shadow: 0px 0px 10px 0px rgb(194 194 194);
    --gocam-panel-process-color: rgb(74, 74, 211);
    --gocam-panel-h1-color: rgb(74, 74, 211);
    --gocam-panel-h1-weight: 400;
    --gocam-panel-a-color: inherit;
    --gocam-panel-a-hover-color: blue;
    --gocam-panel-process-font-color: white;
    --gocam-panel-process-hover-font-color: #c4ceff;
    --gocam-panel-process-font-weight: 400;
}


.a-gcv {
    color: var(--gocam-panel-a-color);
    text-decoration: none;
}

.a-gcv:hover {
    color: var(--gocam-panel-a-hover-color);
}

.not-clickable {
    cursor: default;
}

.bold {
    font-weight: 800;    
}

.h1-gcv {
    color: var(--gocam-panel-h1-color);
    font-weight: var(--gocam-panel-h1-weight);
    text-align: right; 
    font-size: 1.5rem;
    margin: 0rem 0.5rem 0rem 0rem;
}

.genes-panel__container {
    width: var(--gocam-panel-width);
    height: var(--gocam-height);
    line-height: 1.5;
    /* overflow: scroll; */
    display: inline-block;
    vertical-align: top;  
    
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin-left: 1rem;
    
    border-radius: 15px;
    -webkit-box-shadow: var(--gocam-panel-box-shadow);
    -moz-box-shadow: var(--gocam-panel-box-shadow);
    box-shadow: var(--gocam-panel-box-shadow);
}

.genes-panel__container__title {
    padding: 0rem 1rem 0rem 0rem;
}

.genes-panel__item {
    display: block;
    margin: 0.6rem 0.5rem 0rem 0rem;
    padding: 1rem 1.2rem;
    background: #ffffff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 20px 0px rgb(194 194 194);
    -moz-box-shadow: 0px 0px 20px 0px rgba(194,194,194,1);
    box-shadow: 0px 0px 20px 0px rgb(194 194 194);
    cursor: pointer;
}

.genes-panel__item:hover {
    box-shadow: 2px 2px 5px 6px rgb(194 194 255); 
}

.genes-panel__item__title {
    width: 100%;
    font-weight: 800;
    font-size: 18px;
    color: #002379;
    padding-bottom: 0.5rem;
}

.genes-panel__item__gene__block {

}

.genes-panel__list {
    overflow: scroll;    
    height: 715px;
}

.genes-panel__item__activity__block {
}

.genes-panel__item__activity {
    text-overflow: ellipsis;
    max-width: 280px;
    vertical-align: top;
    display: inline-block;
    color: #002379;
}

.block-left {
    margin-left: 2.5rem;
    margin-right: 0.5rem;
    width: 5rem;
    display: inline-block;
}

.block-right {
    margin-left: 0.5rem;
    margin-right: 0.5rem;    
    color: black;
}

.flex-container {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;    
}

.reference-list {
    margin-left: 0.5rem;
}

.reference-article {
    color: #1a9e1a !important;
    margin-left: 0.3rem;    
}

.reference {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    margin-left: 0.2rem;
    -webkit-box-shadow: 4px 6px 42px 0px rgb(194 194 194);
    -moz-box-shadow: 4px 6px 42px 0px rgba(194,194,194,1);
    box-shadow: 4px 6px 42px 0px rgb(194 194 194);
    border: 1px solid green;
    display: inline-block;
    width: 15px;
    border-radius: 5px;
    background-color: greenyellow;
    text-align: center;
    display: inline-block;
    height: 16px;
    font-size: 10px;
    vertical-align: middle;
}


.gp_item_selected {
    box-shadow: 2px 2px 5px 6px rgb(194 194 255);  
}


.genes-panel__item__title__gp {
    color: #002379;
    width: 60%;
    display: inline-block;    
}

.genes-panel__item__title__gp__taxon {
    color: black;
    font-weight: 400;
    text-align: right;
    width: 40%;
    display: inline-block;
    font-size: 16px;
}

.activity__references {
    display: inline-block;
}


/* Container for 1 process */
.genes-panel__item__process {
    display: block;
    /* margin: 1rem 1rem 0rem 0.5rem; */
    /* padding: 1rem 1.2rem; */
    margin: 0.5rem 0.5rem 0rem 0rem;
    padding: 0rem;
    background: #ffffff;
    border-radius: 15px;
    -webkit-box-shadow: inset 0px 0px 31px -13px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 31px -13px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 30px -13px rgb(194 194 255);;
    border: 1px solid rgb(34, 34, 34);
}

/* Container for 1 list of process labels (title) */
.genes-panel__item__process__list {
    display: block;
    word-wrap: normal;
    /* background: white; */
    background: var(--gocam-panel-process-color);
    padding: 0.5rem 0.8rem;
    border-radius: 15px 15px 0px 0px;
    border: 1px solid rgb(34, 34, 34);
    text-align: center;    
}

/* Link to a specific process */
.genes-panel__item__process__list-name {
    cursor: pointer;
    font-weight: var(--gocam-panel-process-font-weight);
    font-size: 1.1rem;   
    color: var(--gocam-panel-process-font-color);
    display: block;
    text-align: left;
    padding: 0rem 0.3rem;
}
/* .genes-panel__item__process__list-name::first-letter {
    text-transform: uppercase;
} */

.genes-panel__item__process__list-name:hover {
    color: var(--gocam-panel-process-hover-font-color);
}

/* part of the process card that contains all related activities */
.genes-panel__item__process__activities {
    margin-left: 0.5rem;
    padding-bottom: 1rem;
}

.genes-panel__item {
    -webkit-box-shadow: 0px 0px 7px 0px rgb(194 194 194);
    -moz-box-shadow: 0px 0px 7px 0px rgba(194,194,194,1);
    box-shadow: 0px 0px 7px 0px rgb(194 194 194);    
}