@import "../../scss/variables";
@import "../../scss/mixins";
@import '../../scss/panel';

:host {
  --height: auto;
  --link-color: auto;

  display: block;
  scroll-behavior: smooth;
  height: var(--height);
  box-sizing: border-box;
  overflow-y: scroll;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.process {
  @include standard-var-styles(process);
  margin-bottom: 3rem;
}

.process:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.process-label {
  @include standard-var-styles(process-label)
}

.activity {
  @include standard-var-styles(activity);
  margin-bottom: 0.5rem;

  &.active {
    background-color: var(--activity-active-background);
    color: var(--activity-active-color);

    a {
      color: var(--activity-active-color);
    }
  }
}

.activity:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.gene-product {
  @include standard-var-styles(gene-product)
}

.function-label {
  @include standard-var-styles(function-label)
}

.function-nodes {
  padding: var(--function-nodes-padding);
}

.node {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  @include standard-var-styles(node)
}

.node:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.node-relation {
  font-size: 10px;
  @include deep-width(80px);
}

.node-term {
  font-size: 12px;
  flex-grow: 1;
}

.node-evidence {
  @include deep-width(30px);
}
