@import "../../scss/variables";
@import "../../scss/mixins";
@import '../../scss/panel';

.genes-panel__list {
  scroll-behavior: smooth;
  padding: 0;
  width: 100%;
  height: $gocam-height;
  // line-height: 1.5;
  overflow-y: scroll;
  border: 1px solid #bdc9eb;

  a {
    color: #000;
    text-decoration: none;
  }

  .gocam-process {
    border: none;
    margin-bottom: 3rem;

    .panel-header {
      color: #fff;
      background-color: #7a548d;
    }
  }

  .gocam-activity {
    border-style: solid;
    border-color: #d1b6df;
    border-width: 0 0 3px 0;
    margin-bottom: 0.5rem;

    .panel-header {
      font-weight: bold;
      a {
        font-size: 18px;
        color: #333;
      }
      background-color: transparent;
    }

    ul {
      padding-left: 0;
      margin-bottom: 0;
    }

    li {
      padding: 3px 0;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.125);
      border-width: 0 0 1px;
      display: flex;
      align-items: center;
    }

    .panel-body {
      padding: 0.5rem 1rem;
    }

    .gocam-node-relation {
      font-size: 10px;
      @include deep-width(80px);
    }

    .gocam-node-term {
      font-size: 12px;
      flex-grow: 1;
    }

    .gocam-node-evidence {
      @include deep-width(30px);
    }

    &.card-active {
      background-color: #af732a;
      color: #eee;

      .card-header,
      .list-group-item {
        color: #eee !important;
        background-color: transparent !important;
      }
      a {
        color: #eee !important;
      }
    }
  }
}
