@mixin deep-width($number) {
  width: $number;
  min-width: $number;
  max-width: $number;
}

@mixin deep-height($number) {
  height: $number;
  min-height: $number;
  max-height: $number;
}

@mixin standard-var-declarations(
  $prefix,
  $background: none,
  $border-color: rgba(0, 0, 0, 0.125),
  $border-width: 0,
  $color: inherit,
  $padding: 0
) {
  --#{$prefix}-background: #{$background};
  --#{$prefix}-border-color: #{$border-color};
  --#{$prefix}-border-width: #{$border-width};
  --#{$prefix}-color: #{$color};
  --#{$prefix}-padding: #{$padding};
}

@mixin standard-var-styles($prefix) {
  background: var(--#{$prefix}-background, none);
  border-color: var(--#{$prefix}-border-color, rgba(0, 0, 0, 0.125));
  border-style: solid;
  border-width: var(--#{$prefix}-border-width, 0);
  color: var(--#{$prefix}-color, inherit);
  padding: var(--#{$prefix}-padding, 0);
}